.backG{
height: 100%;
width: 100%;
}

.btn{
    border: 1px solid transparent;
    border-radius: 0.3em;
    box-shadow: none;
    padding: 1em;
    opacity: 0.8;
    text-transform: uppercase;
}

button.btn.small{
    font-size: 0.7em;
}
button.btn.big{
    font-size: 1.1em;
}

.btn.green{
    background: #4CAF50;
    color: white;
}

.btn.green{
    background: purple;
    color: white;
}
.btn.blue{
    background: blue;
    color: white;
}
.btn.pink{
    background: pink;
    color: white;
}

/* BTN test*/

button.btn.border.green{
    
    border-color: purple;
    color:purple;

    justify-content: end;
}

.flex1{
    display: flex;
    justify-content: flex-end;
}

button.btn.border.blue{
    border-color: blue;
    color:blue;
}

button.btn.border.pink{
    border-color: pink;
    color:pink;
}

h1{
    font-family: 'Lora', serif;
    color:white;
}

hr{
  height: 5px;
  width: 40%;
  background-color: white;
}

.flex2{
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex3{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}