$color-primary: white;
$color-background-f: #673AB7;
$color-background-s: #3F51B5;
$color-background-t: #D81B60;
$color-grey: grey;
$back-ground: url("https://cdn.wallpapersafari.com/83/31/DBzikL.jpg");
$overf-bdy:hidden;
$back-ground-a:fixed;
$position-center: center;
$jus-cont: space-between;
$just-cont-nav: flex-end;
/* Box*/
$bck-size: cover;
$box-sz: border-box;
$box-sh: 1px 1px 1px black;

/* Font*/
$font-fam-b: 'Quicksand', sans-serif;

/*Propperts:v*/
$padd-b-one: 1em 5%;
$height-b:100vh;
$neutral: 0;

/* FLEX*/
$disp: flex;
$f-direction: column;
$f-flow: row wrap;
$f-flow-w: wrap;
/* NAV */
$n-width: 100%;
$n-height-auto: auto;

/*MAIN*/
$m-width: 50%;
$m-height: auto;

body {
    box-sizing: $box-sz;
    height: $height-b;
    overflow: $overf-bdy;
    background-image: $back-ground; 
    background-attachment: $back-ground-a;
    background-position: $position-center;
    background-size: $bck-size;   

    padding: $padd-b-one;
    margin: $neutral; 

    display: $disp;
    flex-direction: $f-direction;

    justify-content: $jus-cont;
    align-items: $position-center;

    font-family: $font-fam-b;

    nav{
    width: $n-width;
    height: $n-height-auto;

    display: $disp;

    flex-flow: $f-flow;
    justify-content: $just-cont-nav; 
    }

}

main{
    width: $m-width;
height: $m-height;

display: $disp;

flex-direction: $f-direction;
flex-flow: $f-flow-w;

justify-content: $position-center;
align-items: $position-center;



.btn{
    color: $color-primary;

    margin: 0.5em;
    padding: 0.8em;

    background: $color-grey;
    border-radius: 0.5em;
    box-shadow: $box-sh; 

.deep{
    background:$color-background-f;
}

.indigo{
    background: $color-background-s; 
}

.red{
    background: $color-background-t;
    }
}

}  


/*falto*/

main>img{
width: 50%;
height: auto;

margin: 1em;

background: rgba(255, 255, 255, 0.5);
border-radius: 5px; 
}

main hr{
width: 75%;

background: white;
height: 7px;

border-radius: 5px; 
border: none;
}

main .logos{
width: 100%;
height: auto;

display: flex;
flex-flow: row wrap;

justify-content: center;
}

.logos>img{
object-fit: cover; 

width: 5em;
height: 5em;

margin: 0.5em;

background: whitesmoke;

border: 1px solid black;
border-radius: 100%;

opacity: 0.7;
}

.logos>img:hover{
opacity: 1;
}

/*
Footer
*/

footer{
width: 100%;
height: auto;

display: flex;

justify-content: space-between;
}

footer>span{
padding: 0.7em;

color: whitesmoke;

font-size: 0.8em;
text-decoration: underline;

background: rgba(0, 0, 0, 0.5);
border-radius: 0.5em;
}